blinker==1.9.0
cffi==2.1.1
charset-normalizer==3.5.2
click==8.5.0
cryptography==50.0.2
Flask==3.0.2
gunicorn==26.2.0
itsdangerous==2.2.0
Jinja2==3.1.6
MarkupSafe==3.0.4
numpy==2.5.3
pandas==3.0.6
pdfminer.six==20231228
pdfplumber==0.11.0
pillow==12.3.0
pycparser==3.1
pypdfium2==5.14.0
python-dateutil==2.9.0.post0
six==1.17.0
tzdata==2026.5
Werkzeug==3.1.9
